<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.berkeley.androidwave"
      android:versionCode="1"
      android:versionName="1.0">
      
    <permission android:description="@string/wave_service_permission_description"
                android:label="WaveService"
                android:name="edu.berkeley.androidwave.permission.WAVE_SERVICE"
                android:protectionLevel="dangerous" />

    <!-- We use our own permission because we have a local service -->
    <uses-permission android:name="edu.berkeley.androidwave.permission.WAVE_SERVICE" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <application android:label="@string/app_name">
        <!-- The activities -->
        <activity android:name="edu.berkeley.androidwave.waveui.AndroidWaveActivity"
                  android:label="@string/main_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="edu.berkeley.androidwave.waveui.ViewRecipeAuthorizationActivity"
                  android:label="@string/view_activity_name"
                  android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="edu.berkeley.androidwave.waveui.RequestRecipeAuthorizationActivity"
                  android:label="@string/auth_activity_name"
                  android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="edu.berkeley.androidwave.intent.action.AUTHORIZE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- The public service -->
        <service android:name="edu.berkeley.androidwave.waveservice.WaveService"
                 android:permission="edu.berkeley.androidwave.permission.WAVE_SERVICE">
            <intent-filter>
                <action android:name="edu.berkeley.androidwave.intent.action.WAVE_SERVICE" />
            </intent-filter>
        </service>
        <!-- The private service -->
        <!-- <service android:name="edu.berkeley.androidwave.waveservice.WaveService" /> -->
    </application>
    <uses-sdk android:minSdkVersion="4" />
</manifest> 
